<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="styles.css"/>
</head>

<body>
<div class="wrapper">

    <div th:replace="fragments/sidenav :: navbar">
    </div>

    <div class="main_content">

        <div class="container">
            <p class="h4 mb-4">New Invoice</p>
            <hr>

            <form th:action="@{/invoices/save}"
                  th:object="${invoice}" method="POST">

                <input type="hidden" th:field="*{id}"/>

                <input type="date" th:field="*{date}"
                       class="form-control mb-4 col-6" placeholder="Date" required>

                <!-- Dropdown to chose Airlines -->
                <select class="browser-default custom-select mb-4 col-6" th:field="*{airline}">
                    <option th:each="airline : ${airlines}"
                            th:value="${airline.getAirlineId}"
                            th:text="${airline.getName()}">
                    </option>
                </select>

                <input type="number" th:field="*{upliftKg}"
                       class="form-control mb-4 col-6" placeholder="Uplift KG" required>

                <input type="number" th:field="*{upliftLit}"
                       class="form-control mb-4 col-6" placeholder="Uplift LIT" required>

                <input type="text" th:field="*{ticketNumber}"
                       class="form-control mb-4 col-6" placeholder="Ticket number" required>

                <input type="text" th:field="*{flightNumber}"
                       class="form-control mb-4 col-6" placeholder="Flight number" required>

                <input type="text" th:field="*{aircraftRegistration}"
                       class="form-control mb-4 col-6" placeholder="Aircraft registration number" required>

                <input type="text" th:field="*{aircraftType}"
                       class="form-control mb-4 col-6" placeholder="Aircraft type" required>

                <textarea type="text" th:field="*{authorizationNote}"
                          class="form-control mb-4 col-6" placeholder="Authorization note"></textarea>


                <button type="submit" class="btn btn-info col-2"><i class="fas fa-save"></i> Save</button>

            </form>

            <hr>
            <form>
                <input type="button" value="< Back" onclick="history.back()" class="btn btn-info btn-bold px-4 float-right">
            </form>

        </div>
    </div>
</div>

</body>

</html>
