<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="invoicestyle.css"/>
    <link rel="stylesheet" th:href="@{/css/invoicestyle.css}"/>

</head>
<body>

<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">

                    <div class="row">

                        <div class="col-sm-6 top-left">
                            <i class="fa fa-rocket"></i>
                        </div>

                        <div class="col-sm-6 top-right">
                            <h3 class="marginright">INVOICE- <span th:text="${invoice.id}"></span></h3>
                            <span class="marginright" th:text="${invoice.date}"/>
                        </div>

                    </div>
                    <hr>
                    <div class="cart_row d-flex justify-content-between">
                        <div class="col-xs-4 to">
                            <p class="lead marginbottom"><span th:text="${invoice.airline.getName()}" style="font-weight: bold;"/></p>
                            <p><span th:text="${invoice.airline.getAddress()}"/></p>
                            <p><span th:text="${invoice.airline.getEmail()}"/></p>
                        </div>

                        <div class="col-xs-4 text-right payment-details">
                            <p class="lead marginbottom payment-info">Payment details</p>
                            <p><span th:text="${invoice.date}"/></p>
                            <p>Total Amount: <span th:text="${invoice.getTotalPrice()}"/></p>
                            <p>Account Name: <span th:text="${invoice.airline.getName()}"/></p>
                        </div>
                    </div>

                    <div class="row table-row">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center" style="width:5%">#</th>
                                <th style="width:45%">Product</th>
                                <th class="text-right" style="width:15%">Quantity</th>
                                <th class="text-right" style="width:20%">Unit Price ($/MT)</th>
                                <th class="text-right" style="width:15%">Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>JET A1 - Aviation fuel</td>
                                <td class="text-right">kg <span th:text="${invoice.upliftKg}"/></td>
                                <td class="text-right">$ <span th:text="${invoice.price}"/></td>
                                <td class="text-right">$ <span th:text="${invoice.getTotalPrice()}"/></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="cart_row d-flex justify-content-between">
                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                            <p>Ticket No.: <span th:text="${invoice.ticketNumber}"/></p>
                            <p>Flight No.: <span th:text="${invoice.flightNumber}"/></p>
                            <p>Aircraft Reg.: <span th:text="${invoice.aircraftRegistration}"/></p>
                            <p>Aircraft Type: <span th:text="${invoice.aircraftType}"/></p>
                            <p>Authorization note: <span th:text="${invoice.authorizationNote}"/></p>
                        </div>

                        <div class="col-12 col-sm-5 text-right text-grey text-90 order-first order-sm-last">
                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    SubTotal
                                </div>
                                <div class="col-5">
                                    <span class="text-120 text-secondary-d1">$ <span th:text="${invoice.getTotalPrice()}"/></span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    Tax (0%)
                                </div>
                                <div class="col-5">
                                    <span class="text-110 text-secondary-d1">N/A</span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-7 text-right">
                                    Total amount
                                </div>
                                <div class="col-5">
                                    <span class="text-120 text-secondary-d1">$ <span th:text="${invoice.getTotalPrice()}"/></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div>
                        <a href="#" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0">X Close</a>
                        <button class="btn btn-success" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</button>
                        <button class="btn btn-danger"><i class="fa fa-envelope-o"></i> Mail Invoice</button>
                        <a th:href="@{/invoices/pdf}" class="btn btn-success">Export data into PDF
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>