<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title> Airline list </title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- need to try this one -->
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>

<body>


<div class="wrapper">

    <div class="sidebar">
        <h2>AF Logo</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="main_content">
        <div class="container">

            <h3>Aviation fuel invoice</h3>
            <hr>

            <form th:action="@{/invoices/search}" class="form-inline">

                <a th:href="@{/invoices/showFormForAdd}"
                   class="btn btn-primary btn-sm mr-5 mb-3">
                    New Invoices
                </a>

                <input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="invoiceNumber"
                       placeholder="Search by number"/>
                <button class="btn btn-success mb-3" type="submit">Search</button>
            </form>

            <!-- <div style="height:400px;overflow-y:auto; overflow-x: hidden;">  -->
            <div class="tableFixHead">
                <table class="table table-bordered table-striped text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th>Invoice number</th>
                        <th>Airline name</th>
                        <th>Date</th>
                        <th>Ticket number</th>
                        <th>Flight Number</th>
                        <th>Aircraft Registration</th>
                        <th>Aircraft Type</th>
                        <th>Quantity LIT</th>
                        <th>Quantity KG</th>
                        <th>Price (USD/KG)</th>
                        <th>Total (USD)</th>

                        <div> <!-- sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN') "-->
                            <th>Action</th>
                        </div>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempInvoice : ${invoices}">

                        <td th:text="${tempInvoice.id}"/>
                        <td th:text="${tempInvoice.airline.getName()}"/>
                        <td th:text="${tempInvoice.date}"/>
                        <td th:text="${tempInvoice.ticketNumber}"/>
                        <td th:text="${tempInvoice.flightNumber}"/>
                        <td th:text="${tempInvoice.aircraftRegistration}"/>
                        <td th:text="${tempInvoice.aircraftType}"/>
                        <td th:text="${tempInvoice.upliftLit}"/>
                        <td th:text="${tempInvoice.upliftKg}"/>
                        <td th:text="${tempInvoice.price}"/>
                        <td th:text="${tempInvoice.getTotalPrice()}"/>


                        <div> <!-- sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"-->
                            <td>
                                <div> <!--sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')" -->
                                    <!-- Add "update" button/link -->
                                    <a th:href="@{/invoices/showFormForUpdate(invoiceId=${tempInvoice.id})}"
                                       class="btn btn-info btn-sm">
                                        Update
                                    </a>
                                </div>

                                <div> <!--sec:authorize="hasRole('ROLE_ADMIN')" -->
                                    <!-- Add "delete" button/link -->
                                    <a th:href="@{/invoices/delete(invoiceId=${tempInvoice.id})}"
                                       class="btn btn-danger btn-sm"
                                       onclick="if (!(confirm('Are you sure you want to delete this Invoice?'))) return false">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </div>

                    </tr>
                    </tbody>
                </table>
            </div>


            <!-- Add a logout button -->
            <form action="#" th:action="@{/logout}"
                  method="POST">

                <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>

            </form>

        </div>
    </div>
</div>
</div>
</body>
</html>
