<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Aviation fuel invoice</title>
</head>

<body>

<div class="container">

  <h3>Aviation fuel invoice</h3>
  <hr>

  <p class="h4 mb-4">Save Airline</p>

  <form th:action="@{/airlines/save}"
        th:object="${airline}" method="POST">


    <input type="hidden" th:field="*{id}" />

    <input type="text" th:field="*{name}"
           class="form-control mb-4 col-4" placeholder="Airline name" required>

    <input type="text" th:field="*{address}"
           class="form-control mb-4 col-4" placeholder="Address" required>

    <input type="email" th:field="*{email}"
           class="form-control mb-4 col-4" placeholder="Email" required>

    <input type="number" th:field="*{differential}" value=""
           class="form-control mb-4 col-4" placeholder="Differential" required>

    <input type="text" th:field="*{paymentTerms}"
           class="form-control mb-4 col-4" placeholder="Payment terms" required>

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>
  <a th:href="@{/airlines/list}">Back to Airline List</a>

</div>
</body>

</html>
