<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <title> Airline add form </title>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>

  <!-- need to try this one -->
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>
<body>

<div class="wrapper">

<div class="sidebar">
  <h2>AF Logo</h2>
  <ul>
    <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
    <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
    <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
    <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
    <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
    <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
    <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
  </ul>
  <div class="social_media">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
  <div class="main_content">

    <div class="container">

      <h3>Aviation fuel invoice</h3>
      <hr>

      <p class="h4 mb-4">Add new Airline company (Client)</p>

      <form th:action="@{/airlines/save}"
            th:object="${airline}" method="POST">

        <input type="hidden" th:field="*{airlineId}"/>

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Airline name" required>

        <input type="text" th:field="*{address}"
               class="form-control mb-4 col-4" placeholder="Address" required>

        <input type="email" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email" required>

        <input type="number" th:field="*{differential}" value=""
               class="form-control mb-4 col-4" placeholder="Differential" required>

        <input type="text" th:field="*{paymentTerms}"
               class="form-control mb-4 col-4" placeholder="Payment terms" required>

        <button type="submit" class="btn btn-info col-2">Save</button>

      </form>

      <hr>
      <a th:href="@{/airlines/list}">Back to Airline List</a>

    </div>

</div>
</div>


</body>


</body>
</html>