  <div th:fragment="navbar">
    <div class="sidebar">
      <a class="logo" href="/" style="padding: 10px 25px;">
        <img src="https://i.postimg.cc/QNSL2hKz/logo.png" width="110" height="95"  alt="">

      </a>

      <ul>
        <li><a href="/dashboard"><i class="fas fa-home"></i>Dashboard</a></li>
        <li><a href="/airlines/list"><i class="fas fa-users"></i>Clients</a></li>
        <li><a href="/invoices/list"><i class="fas fa-file-invoice-dollar"></i>Invoices</a></li>
        <li><a href="/dashboard"><i class="fas fa-chart-line"></i>Reports</a></li>
        <li><a href="#" ><i class="fas fa-address-card"></i>About</a></li>
      </ul>


      <div class="logout">
        <div class="name_job">
          <div class="name"><span sec:authentication="name"></span></div>
        </div>

        <br><br>

        <form action="#" th:action="@{/logout}"
              method="POST">
          <button type="submit" class="btn btn-default btn-sm" style="color: #fff">
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </form>


      </div>
    </div>

  </div>

