<div th:fragment="navbar">
  <div class="sidebar">
    <h2>AF Logo</h2>
    <ul>
      <li><a href="/home/dashboard"><i class="fas fa-home"></i>Dashboard</a></li>
      <li><a href="/airlines/list"><i class="fas fa-users"></i>Clients</a></li>
      <li><a href="/invoices/list"><i class="fas fa-file-invoice-dollar"></i>Invoices</a></li>
      <li><a href="/home/dashboard"><i class="fas fa-chart-line"></i>Reports</a></li>
      <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
      <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
      <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
    </ul>
    <div class="social_media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
